@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141414;
  --txt: #eaeaea;
  --txt2: #a0a0a0;
}

@media (prefers-color-scheme: dark) {
  
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
